<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

      <mat-nav-list (click)="sidenav.close()">

        <a mat-list-item routerLink="lessons">
            <mat-icon>library_books</mat-icon>
            <span>Lessons</span>
        </a>


        <a mat-list-item routerLink="courses">
            <mat-icon>library_books</mat-icon>
            <span>Courses</span>
        </a>
        

        <a mat-list-item routerLink="locations">
            <mat-icon>library_books</mat-icon>
            <span>Locations</span>
        </a>

        <a mat-list-item routerLink="medsheets">
            <mat-icon>library_books</mat-icon>
            <span>MedSheet</span>
        </a>
        <a mat-list-item routerLink="/about">
            <mat-icon>question_answer</mat-icon>
            <span>About</span>
        </a>
        
        
        <a mat-list-item routerLink="/admin" *rbacAllow="['ADMIN']">
            <mat-icon>question_answer</mat-icon>
            <span>Admin </span>
        </a>

          <a mat-list-item routerLink="/register" *ngIf="isLoggedOut$ | async">
              <mat-icon>person_add</mat-icon>
              <span>Register</span>
          </a>

          <a mat-list-item routerLink="/login" *ngIf="isLoggedOut$ | async">
              <mat-icon>account_circle</mat-icon>
              <span>Login</span>
          </a>

          <a mat-list-item routerLink="/login" *ngIf="isLoggedIn$ | async" (click)="logout()">
            <mat-icon>account_circle</mat-icon>
            <span>Logout</span>
        </a>

      </mat-nav-list>


  </mat-sidenav>


  <mat-toolbar color="primary">

      <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
      </button>

  </mat-toolbar>

  <div class="spinner-container" *ngIf="loading">

    <mat-spinner></mat-spinner>

  </div>


  <router-outlet></router-outlet>


</mat-sidenav-container>