<div class="locations-panel">
  <div class="header">
    <h2 class="title">All Locations</h2>

    <button mat-mini-fab  [routerLink]="['/locations/addLocation']">
      <mat-icon class="add-location-btn" >add</mat-icon   >
    </button>
  </div>

  <div *ngIf="allLocations$ | async as locations">
    <locations-table-list [locations]="locations"> </locations-table-list>  
  </div>


  
  <div *ngIf="allLocations$ | async as locations">
    <locations-card-list [locations]="locations"> </locations-card-list>  
  </div>

  


  
</div>
