<div class="header">
  <div class="consumerInfo">
    Andre McCaskill
  </div>
  <div class="medsheet">
    MEDICATION SHEET
  </div>
</div>

<div class="content">
  <table>
     <ng-container *ngFor="let item of state.medSheetItem; let itemIndex = index" >
    <tr>
      <ng-container [ngTemplateOutlet]="altItemHeader || itemDefalultHeader"
        [ngTemplateOutletContext]="{ $implicit: state }">
      </ng-container>
      <ng-template #itemDefalultHeader>
        <th rowspan="7">{{item.doctorOrder}}</th>
       
        <ng-container *ngIf="itemIndex <= 0">
        <td ></td>
        <td  *ngFor="let n of state.daysInMonth; let myIndex  = index">{{myIndex + 1}}</td>
      </ng-container>
      </ng-template>
    </tr>



    <ng-container [ngTemplateOutlet]="altItem || defaultItem" [ngTemplateOutletContext]="{ $implicit: state }">
    </ng-container>
    <ng-template #defaultItem>
      <tr>
      <tr *ngFor="let n of state.linesPerItem; ">
        <td>8am</td>
        <ng-container *ngFor="let n of state.daysInMonth; let myIndex = index">
          <td></td>
        </ng-container>
      </tr>

    </ng-template>






  </ng-container>


  </table>


</div>
<div class="spacer"></div>
<div class="footer">
  <div class="row">
    <div class="row-item">
      <div class="label">Charting Dates:</div>
      <div class="data">6/13/2024 To 7/12/2024</div>
    </div>

    <div class="row-item">
      <div class="label">Medication Tracking #</div>
      <div class="data">12345678</div>
    </div>

  </div>
  <div class="row">
    <div class="row-item">
      <div class="label">Charting Dates:</div>
      <div class="data">6/13/2024 To 7/12/2024</div>
    </div>
  </div>
  <div class="row">
    <div class="row-item">
      <div class="label">Charting Dates:</div>
      <div class="data">6/13/2024 To 7/12/2024</div>
    </div>
  </div>
  <div class="row">
    <div class="row-item">
      <div class="label">physician.:</div>
      <div class="data"></div>
    </div>
  </div>
  <div class="row">
    <div class="row-item">
      <div class="label">Allergies:</div>
      <div class="data"></div>
    </div>
  </div>
  <div class="row">
    <div class="row-item">
      <div class="label">Diagnosis:</div>
      <div class="data"></div>
    </div>
  </div>
  <div class="row">
    <div class="row-item">
      <div class="label">Medicaid #:</div>
      <div class="data"></div>
    </div>
    <div class="row-item">
      <div class="label">Patient Rec#:</div>
      <div class="data">345678</div>
    </div>

  </div>

  <div class="row">
    <div class="row-item">
      <div class="label">Medicare #:</div>
      <div class="data"></div>
    </div>
    <div class="row-item">
      <div class="label">Room#:</div>
      <div class="data">345678</div>
    </div>

  </div>


  <div class="row">
    <div class="row-item">
      <div class="label">Patient:</div>
      <div class="data">Andre MCaskill</div>
    </div>
    <div class="row-item">
      <div class="label">DOB:</div>
      <div class="data">12/22/76</div>
    </div>
    <div class="row-item">
      <div class="label">Sex:</div>
      <div class="data">Male</div>
    </div>
    <div class="row-item">
      <div class="label">Admitted On:</div>
      <div class="data">25/23/20</div>
    </div>
    <div class="row-item">
      <div class="label">Room#:</div>
      <div class="data">345678</div>
    </div>

  </div>
  <div class="row">two</div>
</div>